@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&family=Righteous&family=Ubuntu&display=swap');

html{
    @apply bg-slate-950;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #556a8d;
    border-radius: 7px;
  }
  